.manage-user-container {
    display: flex;
    flex-direction: column;
    width: 350px;
    gap: 16px;
    align-items: center;

    .input-label {
        display: flex;
        justify-content: flex-start;
        margin-bottom: 4px;
        padding-left: 10px;
        align-items: center;
        font-size: 14px;
        font-weight: 600;
        color: #374151;
        font-family: 'Poppins', sans-serif;
    }

    .input-wrapper {
        .input-container {
            .custom-input {
                width: 250px !important;
            }
        }
    }
}