.customButton {
    background-color: #191446;
    color: #fff;
    cursor: pointer;
    border-radius: 16px;
    padding: 0 24px 0 24px;
    border: none;
    height: 45px;
    margin: 0 5px;
  }

  .customButton:hover {
    background-color: #191446;
  }

  .customButton:active {
    background-color: #191446;
  }
